@import url(https://fonts.bunny.net/css?family=aboreto:400|abril-fatface:400|actor:400|akronim:400|alegreya-sans-sc:500,800|alex-brush:400|allerta:400|amita:400,700);
@import url(https://fonts.bunny.net/css?family=aboreto:400|abril-fatface:400|actor:400|akronim:400|alegreya:400i|alegreya-sans-sc:500,800|alex-brush:400|allerta:400|amita:400,700);
.startp{
    font-size: 1.2rem;
    text-align: center;
    width:90%;
    margin-left: 50px;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 70px;
}
.passkey{
    font-size: 0.9rem;
    text-align: center;
    width:90%;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: -40px;
}
.endp{
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    text-align: center;
    width:90%;
    margin-left: 50px;
    font-family:'Times New Roman', Times, serif;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    
}