@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,500;1,600&display=swap');
.typecontainer{
    color: rgb(249, 173, 52);
    
    font-family: 'Cormorant', serif;
    font-size: 1.2rem;
    margin-left: 20px;
    margin-top: 100px;
}